@font-face {
  font-family: "NewCircusFont";
  src: local("NewCircus"),
    url("./fonts/newcircus-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "BreakingBadFont";
  src: local("BreakingBad"),
    url("./fonts/breaking-bad.otf") format("truetype");
}

@font-face {
  font-family: "CyberTechFont";
  src: local("CyberTech"),
    url("./fonts/cyberfont-Regular.otf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
