@font-face {
  font-family: "NewCircusFont";
  src: local("NewCircus"),
    url("./fonts/newcircus-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "BreakingBadFont";
  src: local("BreakingBad"),
    url("./fonts/breaking-bad.otf") format("truetype");
}

@font-face {
  font-family: "CyberTechFont";
  src: local("CyberTech"),
    url("./fonts/cyberfont-Regular.otf") format("truetype");
}

@font-face {
  font-family: "TronFont";
  src: local("Tron"),
    url("./fonts/tron.ttf") format("truetype");
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 15px;
  background-color: #021114;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
border-radius: 5px;
box-shadow: inset 0 0 6px #021114;
}

/*スクロールバーの稼働部分*/
::-webkit-scrollbar-thumb {
background-color: #021114;
border-radius: 25px;
box-shadow:
  -1px -1px #06D8D7,
    1px -1px #06D8D7,
    1px  1px #06D8D7,
  -1px  1px #06D8D7,
  0 0 .1em #06D8D7,
  0 0 .1em #06D8D7 inset,
  0 0 .5em #06D8D7,
  0 0 .5em #06D8D7 inset,
  0 0 1em #06D8D7,
  0 0 1em #06D8D7 inset;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
