.stage {
  perspective: 1000px;
  padding-top: 5%;
}

.circle {
  position: relative;
  transform: translateZ(-650px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.button {
  z-index: 2;
}

.item {
  position: absolute;
  left: 50%;
  width: 440px;
  height: 85%;
  padding: 10px;
  background-color: rgba(5, 33, 35, 0.7);
  border-radius: 10px;
  box-shadow:
    0 0 .5em #06D8D7,
    0 0 .5em #06D8D7 inset,
    0 0 1em #06D8D7,
}

@keyframes circle-animation {
  from {
    transform: translateZ(-650px) rotateY(0);
  }
  to {
    transform: translateZ(-650px) rotateY(-360deg);
  }
}
